@model IEnumerable<server.Models.Review>

@{
    ViewData["Title"] = "Index";
}




<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <ul id="star-list">
                    @for(int i=0;i<item.Rating; i++)
                    {
                        <li>
                            <span class="bi bi-star-fill star-list"></span>
                        </li>
                    }
                    @for (int i=item.Rating; i<5; i++)
                    {
                        <li>
                            <span class="bi bi-star star-list"></span>
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<footer>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</footer>