@model IEnumerable<server.Models.Review>

@{
    ViewData["Title"] = "Index";
}


<input name="query" id="search-bar"/>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <ul class="star-list" alt=@item.Rating>
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<footer>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
</footer>

@section Scripts
{
    <script type="text/html" id="template">
        <tr>
            <td>
                {Comment}
            </td>
            <td>
                <ul class="star-list" alt={Rating}>
                </ul>
            </td>
            <td>
                {Username}
            </td>
            <td>
                {Date}
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="{Id}">Edit</a> |
                <a asp-action="Details" asp-route-id="{Id}">Details</a> |
                <a asp-action="Delete" asp-route-id="{Id}">Delete</a>
            </td>
        </tr>
    </script>
    <script src="js/index.js"></script>
}